<div  *ngIf="fireService.auth.currentUser===null">
<input [(ngModel)]="email"  type="email" placeholder="Email Address">
<input [(ngModel)]="password"  type="password" placeholder="Password">
<br/>
<button (click)="fireService.signIn(email,password)">Sign In</button>
<button (click)="fireService.register(email,password)">Sign Up</button>
</div>

<div *ngIf="fireService.auth.currentUser">

  <h1>Welcome , {{fireService.auth.currentUser.email}}</h1>
  <button  (click)="fireService.signOut()">Sign Out</button>
  <img (click)="fileInput.click()" style="max-height: 60px;" [src]="fireService.currentlySignedInUserAvatarURL"/>
  <input (change)="fireService.updateUserImage($event)" hidden  #fileInput type="file">
  <input [(ngModel)]="newMessage">

  <button (click)="fireService.sendMessage(newMessage)">Send Message</button>

  <p *ngFor="let user of fireService.messages">
  {{user|json}}</p>

</div>

